@model IEnumerable<FoodStoreMVCStarter.ViewModels.StoreBuildingVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>Don Li</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {
                    branch = @item.Branch,
                    buildingName = @item.BuildingName,
                    unitNum = @item.UnitNum
                }) |
                @Html.ActionLink("Details", "Details", new { 
                    branch = @item.Branch,
                    buildingName = @item.BuildingName,
                    unitNum = @item.UnitNum 
                }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
